body {
   font-family: Arial, sans-serif;
   background-color: #f2f2f2;
   margin: 0;
   padding: 0;
}

#student-form {
   background-color: #ffffff;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   width: 300px;
   margin: 20px auto;
   padding: 20px;
}

#student-form h2 {
   text-align: center;
   margin: 0;
   color: #333;
}

#student-form form {
   display: flex;
   flex-direction: column;
}

#student-form label {
   margin-bottom: 10px;
   font-weight: bold;
}

#student-form input[type="text"], #student-form input[type="password"] {
   padding: 10px;
   margin-bottom: 15px;
   border: 1px solid #ccc;
   border-radius: 4px;
}

#student-form input[type="submit"] {
   background-color: #007BFF;
   color: #fff;
   padding: 10px 15px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 0.3s;
}

#student-form input[type="submit"]:hover {
   background-color: #0056b3;
}

#student-list {
   background-color: #ffffff;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   width: 80%;
   margin: 20px auto;
   padding: 20px;
}

#student-list h2 {
   text-align: center;
   margin: 0;
   color: #333;
}

#student-list table {
   width: 100%;
   border-collapse: collapse;
}

#student-list th, #student-list td {
   border: 1px solid #ccc;
   padding: 8px;
   text-align: left;
}

#student-list th {
   background-color: #f2f2f2;
}

#student-list tr:nth-child(even) {
   background-color: #f2f2f2;
}

#student-list tr:nth-child(odd) {
   background-color: #fff;
}

/* Media Query for responsiveness */
@media (max-width: 600px) {
   #student-list table {
       font-size: 12px;
   }
}
